{{yield}}

<div>
  Pick a color
</div>

<div onclick={{action 'colorPicked'}}>
{{#each colors as |color| }}
  <!-- action cannot be attached directly on the output of htmlSafe helper -->
    {{background-color color}}
{{/each}}
</div>

<span>You picked: {{background-color picked}}</span>
